@{
    ViewData["Title"] = "Página Principal";
}

<div class="text-center home-container" style="background-image: url('https://img.freepik.com/foto-gratis/equipo-gimnasio-3d_23-2151114193.jpg?t=st=1720414250~exp=1720417850~hmac=9b1dee2abc7df20fb0d35625c0a3248078ec544d4642920af8ca1d07c53441e2&w=996'); background-size: cover; background-position: center; color: #333;">
    <div class="overlay" style="background-color: rgba(0, 0, 0, 0.6); padding: 50px;">
        <h2 class="display-4" style="color: #fff;">Gestor de manejo de "Gimnasios 24"</h2>

        <div class="content" style="margin-top: 30px;">
            <h3 style="color: #ccc;">Bienvenido a la plataforma de gestión de gimnasios</h3>
            <p style="color: #ddd;">Aquí podrás gestionar los locales, las máquinas y mucho más.</p>
        </div>
    </div>
</div>
