@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>Declaración de autoría:</h1>

<p>
        Henry Gonzalez y Emiliano Vera, en calidad de creador y propietario legítimo, hacemos la siguiente declaración de autoría en relación con la aplicación de Software titulado “Red de Gimnasios 24": Declaramos que somos el autor legítimo de la aplicación de software mencionada anteriormente, la cual fue creada por nosotros en su totalidad.

    La aplicación fue creada el 15 de mayo de 2024, y hemos mantenido un control continuo sobre su desarrollo y mantenimiento desde esa fecha.

    Reconocemos que tenemos todos los derechos de autor y derechos de propiedad intelectual sobre la aplicación de software.

    Todos los elementos que componen la aplicación, incluyendo el código fuente, la interfaz de usuario, la documentación y cualquier otro componente, están protegidos por las leyes de derechos de autor.
    

</p>
