@model ObligatorioMVC.Models.Rutina

@{
    ViewData["Title"] = "Create Rutina";
}

<h1>Create Rutina</h1>

<h4>Rutina</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div class="form-group">
                <label asp-for="DescripcionRutina" class="control-label"></label>
                <input asp-for="DescripcionRutina" class="form-control" />
                <span asp-validation-for="DescripcionRutina" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Calificacion" class="control-label"></label>
                <input asp-for="Calificacion" class="form-control" />
                <span asp-validation-for="Calificacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdTipoRutina" class="control-label"></label>
                <select asp-for="IdTipoRutina" class="form-control" asp-items="ViewBag.IdTipoRutina"></select>
            </div>

            <div class="form-group">
                <label asp-for="EjercicioSeleccionados" class="control-label"></label>
                <select asp-for="EjercicioSeleccionados" class="form-control" asp-items="ViewBag.Ejercicios" multiple="multiple"></select>
                <span asp-validation-for="EjercicioSeleccionados" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Crear Rutina</button>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a la lista</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
